<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir or 'ltr' }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }}</title>

        <link rel="alternate" hreflang="{{ page.lang }}" href="{{ meta.url }}{{ page.url }}">
        {% for link in page.url | locale_links %}
        <link
            rel="alternate"
            hreflang="{{ link.lang }}"
            href="{{ meta.url }}{{ link.url }}"
        >
        {% endfor %}
        <link
            rel="alternate"
            hreflang="x-default"
            href="{{ meta.url }}{{ page.url | locale_url('en') }}"
        >
    </head>
    <body>
        {% include "header.njk" %}
        <main>
            <h1>{{ title }}</h1>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>