<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir or 'ltr' }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }} | {{ sitemeta[page.lang].siteName | safe }}</title>

        <link rel="canonical" href="{{ sitemeta.siteUrl }}{{ page.url }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta property="og:site_name" content="{{ sitemeta.siteName }}" />
        <meta property="og:title" content="{{ title if title else sitemeta.siteName }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ desc or sitemeta.siteDescription }}">
        <meta property="og:url" content="{{ sitemeta.siteUrl }}{{ page.url }}">
        <meta property="og:locale" content="{{ page.lang }}">

        <link rel="alternate" hreflang="{{ page.lang }}" href="{{ sitemeta.siteUrl }}{{ page.url }}">
        {% for link in page.url | locale_links %}
        <link rel="alternate" hreflang="{{ link.lang }}" href="{{ sitemeta.siteUrl }}{{ link.url }}">
        {% endfor %}
        <link rel="alternate" hreflang="x-default" href="{{ sitemeta.siteUrl }}{{ page.url | locale_url('en') }}">
    </head>
    <body>
        {% include "header.njk" %}
        <main>
            <h1>{{ title }}</h1>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>