<header>
    <h2>{{ sitemeta[page.lang].siteName | safe }}</h2>
    <nav aria-label="Primary">
        <ul>
            {% for item in navigation[page.lang] %}
            <li>
                <a
                    {% if item.url == page.url %}aria-current="page"{% endif %}
                    href="{{ item.url }}">{{ item.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>