---
layout: layouts/home
---
<p>你好！欢迎光临我的个人部落格！</p>

<p>我是 {{ sitemeta[page.lang].siteAuthor.name }}，一个千禧世代的马来西亚华人酷儿兼自闭儿。<a href="{{ profilelinks.pronounsPage[page.lang] }}">我的代称</a>包括他/你、tā/你、她/妳和粤语的佢/你。</p>