<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ langstrings[page.lang].dir or 'ltr' }}" id="top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title + " | " if title }}{{ sitemeta[page.lang].siteName | safe }}</title>

        <link rel="alternate" hreflang="{{ page.lang }}" href="{{ sitemeta.siteUrl }}{{ page.url }}">
        {% for link in page.url | locale_links %}
        <link rel="alternate" hreflang="{{ link.lang }}" href="{{ sitemeta.siteUrl }}{{ link.url }}">
        {% endfor %}
        <link rel="alternate" hreflang="x-default" href="{{ sitemeta.siteUrl }}{{ page.url | locale_url('en') }}">

        {# Metadata #}
        <link rel="canonical" href="{{ sitemeta.siteUrl }}{{ page.url }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="author" content="{{ sitemeta[page.lang].siteAuthor.name }}">
        <meta name="description" content="{{ desc or sitemeta[page.lang].siteDescription() | safe }}">
        <meta name="fediverse:creator" content="@helenchong@social.lol">
        <meta property="og:site_name" content="{{ sitemeta[page.lang].siteName }}" />
        <meta property="og:title" content="{{ title if title else sitemeta[page.lang].siteName }}">
        <meta property="og:type" content="{{ "article" if tags and tags.includes("posts") else "website" }}">
        <meta property="og:description" content="{{ desc or sitemeta[page.lang].siteDescription() | safe }}">
        <meta property="og:url" content="{{ sitemeta.siteUrl }}{{ page.url }}">
        <meta property="og:locale" content="{{ page.lang }}">
        <meta property="og:image" content="{{ sitemeta.siteUrl }}/assets/galaxy-garden-meta-img.png">
        <meta name="theme-color" content="#512b85">

        {# Fonts #}
        {% include "partials/fonts.njk" %}

        {# CSS #}
        {% include "partials/css.njk" %}

        {# Feeds #}
        <link rel="alternate" type="application/rss+xml" title="{{ sitemeta[page.lang].siteName }}" href="/{{ page.lang }}/{{ sitemeta.feedPath }}">

        {# Favicon #}
        {% include "partials/favicon.njk" %}
    </head>
    <body>
        <div class="skip-btn"><a href="#content">{{ langstrings[page.lang].skipToContent }}</a></div>
        {% include "partials/header.njk" %}
        <main id="content">
            {{ content | safe }}
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>