---
layout: layouts/page
eleventyComputed:
    pageTitle: "{{ langstrings[page.lang].welcome }}{{ sitemeta[page.lang].siteName }}"
---
{% if page.lang === "zh" %}
{% set profilePicAlt = sitemeta[page.lang].siteAuthor.name + " 的个人肖像" %}
{% else %}
{% set profilePicAlt = sitemeta[page.lang].siteAuthor.name + "'s profile picture" %}
{% endif %}

<img fetchpriority="high" class="profilepic" src="/assets/helenchong/profilepic.webp" alt="{{ profilePicAlt }}">

{{ content | safe }}

<div class="web-graphics p-margin-top">
    <a href="https://badge.les.bi/"><img src="/assets/badges/lesbian-nonbinary.svg" alt="Lesbian and non-binary" width="143" height="50" loading="lazy"></a>
    <a href="https://en.wikipedia.org/wiki/Disability_flag"><img src="/assets/badges/disability-pride.svg" alt="Disability pride" width="143" height="50" loading="lazy"></a>
    <a href="https://ko-fi.com/s/798b83fbcc"><img src="/assets/badges/coffee-powered.svg" alt="Coffee powered" width="143" height="50" loading="lazy"></a>
    <a href="https://people.pledge.party/"><img src="/assets/badges/people-pledge.svg" alt="The People Pledge" width="143" height="50" loading="lazy"></a>
    <a href="https://fightfascism.glitch.me/"><img src="/assets/badges/fight-fascism.jpg" alt="Fight fascism" width="220" height="37" loading="lazy"></a>
</div>

<h2 class="text-center">{{ langstrings[page.lang].latestPosts }}</h2>
{% set postList = collections["posts_" + page.lang] | reverse | itemLimit(3) %}
{% include "partials/postlist.njk" %}

<h2 class="text-center">{{ langstrings[page.lang].webDirectories }}</h2>
<p class="text-center">{{ sitemeta[page.lang].siteName }}{{ langstrings[page.lang].directoryDesc }}</p>
<ul class="inline-list" style="margin-top: 0.7em;">
    <li><a href="https://blogofthe.day/">Blog of the .Day</a></li>
    <li><a href="https://blogroll.club/">blogroll.club</a></li>
    <li><a href="https://www.11ty.dev/authors/">Eleventy Authors</a></li>
    <li><a href="https://indieblog.page/">indieblog.page</a></li>
</ul>