---
layout: layouts/base
---
<header class="main__header">
    <h1>{{ pageTitle or title }}</h1>
    <p>{{ desc }}</p>
</header>
<article class="prose page">
    {{ content | safe }}
    {% if updated %}
    <p class="updated">
        {{ "（" if page.lang === "zh" else "(" }}{{ langstrings[page.lang].updated }} <time datetime="{{ updated }}">{{ updated | formatDate }}</time>{{ "）" if page.lang === "zh" else ")" }}
    </p>
    {% endif %}
</article>