---
layout: layouts/base
---
<header class="main__header">
    <h1>{{ title }}</h1>
    <p>{{ desc }}</p>
</header>
<post-wrapper>
    <aside class="post__sidebar">
        <div class="post__meta">
            <p>{{ langstrings[page.lang].published }} <time datetime="{{ date }}">{{ date | formatDate(page.lang) }}</time></p>
            {% if updated %}
            <p>{{ langstrings[page.lang].updated }} <time datetime="{{ updated }}">{{ updated | formatDate }}</time></p>
            {% endif %}
            <p>{{ langstrings[page.lang].author }} {{ sitemeta[page.lang].siteAuthor.name }}</p>
        </div>
        {% if toc %}
        <details class="toc__wrapper">
            <summary class="toc__heading" id="toc-heading">
                {{ langstrings[page.lang].toc }}
            </summary>
            {{ content | toc | safe }}
        </details>
        {% endif %}
    </aside>
    <article class="prose">
        {{ content | safe }}
        <a class="post__emailreply" href="mailto:{{ sitemeta.siteAuthor.email }}?subject={{ langstrings[page.lang].emailReplySubject }}{{ title }}">✉️ {{ langstrings[page.lang].replyByEmail }}</a>
        {%- if collections.posts %}
        <nav aria-label="{{ langstrings[page.lang].nextPrev }}">
            {%- set previousPost = collections.posts | getPreviousCollectionItem %}
            {%- set nextPost = collections.posts | getNextCollectionItem %}
            {%- if nextPost or previousPost %}
            <ul>
                {%- if previousPost %}
                <li>
                    <p>Previous Post:</p>
                    <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
                </li>
                {% endif %}
                {%- if nextPost %}
                <li>
                    <p>Next Post:</p>
                    <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                </li>
                {% endif %}
            </ul>
            {%- endif %}
        </nav>
        {%- endif %}
    </article>
</post-wrapper>