<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="canonical" href="{{ sitemeta.siteUrl }}/">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="author" content="{{ sitemeta[page.lang].siteAuthor.name }}">
        <meta name="description" content="{{ desc or sitemeta[page.lang].siteDescription() | safe }}">
        <meta property="og:site_name" content="{{ sitemet.en.siteName }}" />
        <meta property="og:title" content="{{ sitemeta.en.siteName }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ sitemeta.en.siteDescription() | safe }}">
        <meta name="fediverse:creator" content="{{ profileitems.socials.mastodon.user }}">
        <meta property="og:url" content="{{ sitemeta.siteUrl }}">
        <meta property="og:locale" content="en">

        <link rel="stylesheet" href="/assets/css/root.css">
        {% include "partials/favicon.njk" %}

        <title>{{ title }}{% if titleZh %} {{ titleZh }}{% endif %}</title>
    </head>
    <body>
        <header>
            <h1>{{ title }}{% if titleZh %} <span lang="zh">{{ titleZh }}</span>{% endif %}</h1>
        </header>
        <main>
            <article>
                {{ content | safe }}
            </article>
        </main>
        <footer>
            <p>Made with 💜 by <a href="https://helenchong.omg.lol/">{{ sitemeta.en.siteAuthor.name }}</a></p>
        </footer>
    </body>
</html>