/* Inline lists */
.inline-list {
    justify-self: center;
    list-style-type: "";
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 var(--sz-list-gap);
    flex-wrap: wrap;
    justify-content: center;
}

.inline-list li:not(:last-child)::after {
    content: '•';
    padding-left: 0.5em;
}

/* Profile picture */
img.profilepic, .profilepic img {
    border-radius: 50%;
    width: 15rem;
    margin: 0.5em auto;
}

/* Socials */
.socials__links {
    list-style-type: "";
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.socials__link {
    display: inline-flex;
    gap: 0.3em;
}

.socials__item {
    display: flex;
    align-items: center;
}

.socials__icon { height: 2rem; }