.main__header {
    text-align: center;
}

.prose {
    font-size: var(--fs-main-txt);
    color: var(--clr-slate-600);
    padding: 0 var(--sz-main-padding) var(--sz-content-bottom);
}

.prose > * + :not([class]) { margin-top: var(--sz-paragraph-margin); }

.prose > * + h2, .prose > * + .h2,
.prose > h3,  .prose > * + .h3,
.prose > h4, .prose > h5, .prose > h6 { margin-top: 2em; }

post-wrapper {
    display: flex;
    gap: 1rem;
}