body {
    font-family: var(--ff-default);
    font-size: var(--fs-main);
    background-color: var(--clr-accent-1);
    color: var(--clr-body-txt);
}

main { padding: 0 0.5em; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--clr-accent-600);
    font-family: var(--ff-heading);
}

h1 { font-size: var(--fs-h1); }
h2, .h2 { font-size: var(--fs-h2); }
h3, .h3 { font-size: var(--fs-h3); }
h4 { font-size: var(--fs-h4); }

h2:has(+ *[class]:not(.heading-anchor)), .h2:has(+ *[class]),
h3:has(+ *[class]:not(.heading-anchor)), .h3:has(+ *[class]) { margin-bottom: 0.7em; }

a { color: var(--clr-accent-3); }
a:hover { color: var(--clr-accent-4); }
a:focus, a:hover > img { outline: 0.15em solid currentColor; }

a[href^="http"]:not([href*="helenchong.omg.lol"]):not(:has(img, svg, picture)),
.external-link { padding-right: 1.1em; }

a[href^="http"]:not([href*="helenchong.omg.lol"]):not(:has(img, svg, picture))::after,
.external-link::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.2em;
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 80%;
    transform: translateY(0.28em);
}

ul:not([class]), ol:not([class]) {
    display: grid;
    gap: var(--sz-list-gap);
}

blockquote {
	padding: 0.8em 1em;
	border-inline-start: 0.15em solid var(--clr-accent-2);
    background-color: var(--clr-quote-bg);
    margin-bottom: 1em;
}

blockquote > * + :not([class]) { margin-block-start: var(--sz-paragraph-margin); }

figure {
    display: grid;
    place-content: center;
    justify-items: center;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    margin-top: 0.2em;
}

hr {
    margin: 1em 0;
    border: var(--bdr-hr);
}

code {
    font-family: var(--ff-monospace);
    word-break: break-word;
    font-size: 0.85em;
}
:not(pre) > code {
    padding: 0.125em 0.25em;
}
:not(pre) > code, pre { background-color: var(--clr-quote-bg); }

pre {
    border: 0.1em solid var(--clr-code-border);
    max-width: 90vw;
    overflow: auto;
    padding: 1rem;
    background-color: var(--clr-code-bg);
    tab-size: 2;
    white-space: pre;
}

:focus { outline: 0.15em solid currentColor; }
details:focus { outline-offset: 0.2em; }
