.header, .header__navlinks {
    display: flex;
}

.header {
    border-bottom: var(--bdr-layout);
    background-color: var(--clr-accent-1);
    position: sticky;
    top: 0;
    padding: 1em;
    z-index: 999;
}

.header__navlinks {
    list-style-type: "";
    margin: 0;
    padding: 0;
}

.main__header {
    text-align: center;
    padding: 3em var(--sz-main-padding);
}

.prose {
    padding: 1.5em var(--sz-main-padding) 4em;
    border: var(--bdr-layout);
    border-bottom: unset;
}

.prose > * + :not([class]) { margin-top: var(--sz-paragraph-margin); }

.prose > * + h2, .prose > * + .h2,
.prose > h3,  .prose > * + .h3,
.prose > h4, .prose > h5, .prose > h6 { margin-top: 2em; }

.page {
    max-width: 60rem;
    margin: 0 auto;
}

post-wrapper {
    display: grid;
    place-content: center;
    gap: 1rem;
}

.post__meta {
    border: var(--bdr-layout);
    padding: 1.5em 1em;
}

.footer {
    text-align: center;
    display: grid;
    gap: 0.7em;
    padding: 1em;
    border-top: var(--bdr-layout);
}

/* Desktop main content layout */
@media only screen and (min-width: 60rem) {
    post-wrapper {
        padding: 0 var(--sz-main-padding);
        grid-template-areas: 'sidebar article';
        grid-template-columns: 1fr minmax(min(80ch, 60vw), 3fr);
    }

    .prose { grid-area: article; }
    .post__sidebar { grid-area: sidebar; }
}