/*
    Based on SmolCSS Document Style:
    https://smolcss.dev/#smol-document-styles
 */

:root {
    --clr-body-txt: #222;
    --clr-body-bg: #f3e8ff;
    --clr-link: #7629db;
    --clr-footer-bdr: #ccc;
    --clr-footer-txt: #767676;
    --fs-body: 1.2rem;
    --fs-footer: 0.9rem;
    --ff-body: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-body-txt: #fff;
        --clr-body-bg: #511065;
        --clr-link: #ddaef2;
        --clr-footer-bdr: #f0f0f0;
        --clr-footer-txt: #bebebe;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 1.5;
    color: var(--clr-body-txt);
    background-color: var(--clr-body-bg);
}

body > * {
    --layout-spacing: max(8vh, 3rem);
    --max-width: 70ch;
    width: min(100%, var(--max-width));
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-top: var(--layout-spacing);
}

footer {
    margin-top: auto;
    padding-top: var(--layout-spacing);
}

footer p {
    border-top: 1px solid var(--clr-footer-bdr);
    padding-top: 0.25em;
    color: var(--clr-footer-txt);
    font-size: var(--fs-footer);
}

:is(h1, h2, h3) {
    line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
    margin-top: 2em;
}

article * + * {
    margin-top: 1em;
}

a {
    color: var(--clr-link);
    text-underline-offset: 0.15em;
}