.inline-list {
    justify-self: center;
    list-style-type: "";
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5em var(--sz-list-gap);
    flex-wrap: wrap;
    justify-content: center;
}
.inline-list li:not(:last-child)::after {
    content: '•';
    padding-left: 0.3em;
}

.inline-icon {
    display: inline-block;
    vertical-align: -5%;
    height: 0.9em;
    fill: currentColor;
}
a > .inline-icon { padding-inline-end: .25em; }

.block { display: block; }
.text-center { text-align: center; }
.margin-center { margin: 0 auto; }
.p-margin-top { margin-top: var(--sz-paragraph-margin); }
.list-margin-top { margin-top: var(--sz-list-gap); }
.email-encoded b { display: none; }
.updated { margin-top: 3em; }

.page-nav {
    text-align: center;
    margin-bottom: 1em;
}

.grid-center {
    display: grid;
    place-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
    outline: 0;
    outline-offset: 0;
}
