---
permalink: .htaccess
eleventyExcludeFromCollections: true
eleventyAllowMissingExtension: true
---
# Redirect visitors who request the root domain path to the appropriate language version
# Fallback to English version if no matching browser language defined
# Based on language version being at a subdirectory, e.g. www.mywebsite.com/zh/
# This has no effect on any subpaths of the website, and therefore has no effect on e.g. WordPress admin.
# Using a 302 temporary redirect header stops the redirection from being cached in the browser.
# By Mark Howells-Mead: https://gist.github.com/markhowellsmead/0c414cea619727a3618b

# language is ZH (Chinese)
RewriteCond %{HTTP:Accept-Language} ^zh [NC]
RewriteRule ^$ /zh/ [L,R=302]

# else redirect to the English version
RewriteRule ^$ /en/ [L,R=302]

<FilesMatch "\.(ico|svg|avif|webp|jpg|png|gif|woff2)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
<FilesMatch "\.(css|js)$">
Header set Cache-Control "no-cache, public"
</FilesMatch>

RewriteEngine on

# Block bad bots
{% for bot in robots.htaccess -%}
RewriteCond %{HTTP_USER_AGENT} ({{ bot | replace(" ", ".*") }}) [NC{% if not loop.last %},OR{% endif %}]
{% endfor -%}
RewriteRule .* https://nocommercialuse.org/ [L]