---
layout: layouts/root
eleventyComputed:
  title: "{{ sitemeta.en.siteName }}"
  titleZh: "{{ sitemeta.zh.siteName }}"
---
<p>Welcome to {{ sitemeta.en.siteAuthor.name }}'s personal blog!</p>
<h2>This blog is available in these languages:</h2>
<ul>
	{{ for lang, values of sitemeta.siteLang }}
	<li>
		<a href="/{{ values.code }}/">
			<strong><span lang="{{ values.code }}">{{ values.long }}</span></strong>
		</a>
	</li>
	{{ /for }}
</ul>
