---
title: Post Categories
---
<ul>
    {{ for category of collections["categories_" + page.lang] }}
	{{ set categoryUrl }}/{{ page.lang }}/categories/{{ category |> slugStr }}/{{ /set }}
	<li><a href="{{ categoryUrl }}">{{ category }}</a></li>
    {{ /for }}
</ul>

<p>See all blog posts in the <a href="posts.vto">archive</a>.</p>
