{% set cssFiles = [
    "global",
    "general",
    "layouts",
    "components",
    "pridesymbols",
    "utility"
] %}

{%- for file in cssFiles -%}
<link rel="stylesheet" href="{{'/assets/css/' + file + '.css'}}">
{%- endfor -%}