{% set builtWith11ty = '' %}
{% if page.lang === "zh" %}
    {% set builtWith11ty %}用 <a href="https://www.11ty.dev/">Eleventy</a> {{ eleventy.version }} 版本建立{% endset %}
{% else %}
    {% set builtWith11ty %}Built with <a href="https://www.11ty.dev/">Eleventy</a> v{{ eleventy.version }}{% endset %}
{% endif %}

<footer>
    <a href="/{{ page.lang }}/{{ sitemeta.feedPath }}">{{ langstrings[page.lang].rssFeed }}</a>
    <p>{{ builtWith11ty | safe }} • <a href="https://github.com/helenclx/helenchong-journal">{{langstrings[page.lang].sourceCode  }}</a></p>
</footer>