<header class="header">
    <h2 class="header__title">{{ sitemeta[page.lang].siteName | safe }}</h2>
    <nav aria-label="{{ langstrings[page.lang].mainNav }}">
        <ul class="header__navlinks">
            {% for item in navigation[page.lang].header %}
            <li>
                <a href="{{ item.url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <nav class="header__lang" aria-describedby="lang-option">
        <h3 class="header__lang--heading" id="lang-option">{{ langstrings[page.lang].langOptions }}</h3>
        <a href="{{ page.url }}" lang="{{ page.lang }}" hreflang="{{ page.lang }}">
            {{ page.lang | upper }}
        </a>

        {% for link in page.url | locale_links %}
        <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
            {{ link.lang | upper }}</a
        >
        {% endfor %}
    </nav>
</header>