<ul class="postlist">
    {% for post in postList %}
    <li class="postlist__item">
        <p class="postlist__item--title">
            <a href="{{ post.url }}">
                {% if post.data.title %}{{ post.data.title }}
                {% else %}<code>{{ post.url }}</code>{% endif %}
            </a>
        </p>
        <p>
            <time class="postlist__item--date" datetime="{{ post.date }}">{{ post.date | formatDate(page.lang) }}</time>
        </p>
        <p>{{ post.data.desc }}</p>
    </li>
    {% endfor %}
</ul>